#home {
  display: flex;
  justify-content: center;
  align-items: space-around;
}

#home > .picme {
  width: 25%;
  height: 300px;
  object-fit: cover;
}

#home > .description {
  text-align: center;
}

#skills {
  display: flex;
  justify-content: center;
}

.box {
  border-radius: 2px;
  border: 1px solid black;
}

.general {
  background-color: #e0e8ed;
}

.project {
  display: flex;
  justify-content: center;
}

#contact {
  display: flex;
  justify-content: center;
}
