#home {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}

#home .picme {
  width: 25%;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 3px 3px 0px black;
}

#home .description {
  background-color: white;
  text-align: left;
  width: 60%;
  // border-radius : 3px;
  // border: 1px solid black;
  // box-shadow: 3px 3px 0px #d14519;
  padding: 14px 0;
}

.description h1 {
  text-shadow: 2px 2px 1px #d14519;
}

h2 {
  text-shadow: 2px 2px 1px #d14519;
  margin: 50px 0;
}

.skills-box {
  display: flex;
  justify-content: space-evenly;
}

.box {
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 3px 3px 0px #d14519;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
}

.box i {
  color: #d14519;
}

.box > i {
  font-size: 30px;
  margin: 10px 0;
}


.box ul {
  list-style-type: none;
  text-align: left;
}

#contact {
  display: flex;
  justify-content: center;
}

#contact i {
  margin: 10px;
  font-size: 30px;
  color: #d14519;
}
