#home {
  display: flex;
  justify-content: center;
  align-items: space-around;
}

#home > .picme {
  width: 25%;
  height: 300px;
  object-fit: cover;
}

#home > .description {
  text-align: center;
}
