<div class="main">

  <div class="nav-list">
    <ul id="menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#work">My Work</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

  <div class="container my-4" id="home">
    <%=image_tag("picme.png", alt: "Belle photo de moi", class: "picme")%>
    <div class="description">
      <p>Après un Master 2 en Marketing & Communication et 5 ans dans le marketing digital, j'ai décidé de donner un virage technique à ma carrière en participant au bootcamp Le Wagon en avril 2021 !</p>
      <p>
        Désormais alumni du Wagon, pris de passion pour le code avec l'envie d'apprendre toujours plus de nouvelles choses, je continue à faire mes armes en codant chaque semaine et en essayant de m'améliorer constamment !
      </p>
    </div>
  </div>

  <div class="general">
    <div class="container py-4">
      <h2>Skills</h2>
      <div id="skills">
        <div class="box">
          <h3>Ruby on Rails</h3>
          <ul>
            <li><i class="far fa-check-circle"></i> Langage Ruby</li>
            <li><i class="far fa-check-circle"></i> MVC architecture</li>
            <li><i class="far fa-check-circle"></i> OOP</li>
            <li><i class="far fa-check-circle"></i> Test du code : Minitest, RSpec, TDD</li>
            <li><i class="far fa-check-circle"></i> Active Storage file management</li>
            <li><i class="far fa-check-circle"></i> Usage des gems : Devise, Sidekiq & more !</li>
          </ul>
        </div>

        <div class="box">
          <h3>JavaScript</h3>
          <ul>
            <li><i class="far fa-check-circle"></i> ES6 language</li>
            <li><i class="far fa-check-circle"></i> Basic dynamic webpage animation</li>
            <li><i class="far fa-check-circle"></i> Update with AJAX (and jQuery)</li>
            <li><i class="far fa-check-circle"></i> Node.js</li>
            <li><i class="far fa-check-circle"></i> More by autodidacte : React, Vue.js</li>
          </ul>
        </div>

        <div class="box">
          <h3>Mais aussi...</h3>
          <ul>
            <li><i class="far fa-check-circle"></i> HTML5 & CSS3 for front-end</li>
            <li><i class="far fa-check-circle"></i> Boostrap framework</li>
            <li><i class="far fa-check-circle"></i> Langage SQL & PostgreSQL</li>
            <li><i class="far fa-check-circle"></i> Git</li>
            <li><i class="far fa-check-circle"></i> Heroku</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="work">
    <h2>My different projects</h2>
    <% @projects.each do |project| %>
    <div class="project">
      <h2><%= project.title %></h2>
      <p><%= project.description %></p>
    </div>
    <% end %>
  </div>

  <div class="container" id="contact">
    <i class="far fa-paper-plane"></i><p>spouzon@gmail.com</p>
    <i class="fas fa-cloud-download-alt"></i><p>my little CV</p>
  </div>

  <div class="d-flex justify-content-center">
    <h2>🔥🔥Of course, this site is under construction !!🔥🔥</h2>
  </div>
</div>
